In [99]:
pwd

'C:\\Users\\NATH'

In [100]:
cd Desktop

C:\Users\NATH\Desktop

In [111]:
df = pd.read_csv("working_with_tables_homework.csv")
df

    Firstname   Lastname   age   sales   cost                      email
0  Olanrewaju     Kazeem  [24]   15000  11000     olankaz248@outlook.com
1     Chibuzo     Ekenne  [30]   25800  15200   chiman_ekeneks@yahoo.com
2  Onyinyechi       Amos  [22]   45000  28000       onyiamos22@gmail.com
3     Orlando      Bloom  [25]   28000  22000       earlyman01@ymail.com
4        Alex      Iwobi  [34]   36500  18850     iwo.alex_007@gmail.com
5       Kachi      Felix  [50]   44235  33218  felix_kach@protonmail.com
6     Olujare       Dada  [28]   27500  25800    olu59_dada@zohomail.com
7      Tomiwa    Sogaolu  [42]   50509  34850   tommySolu@icloudmail.com
8   Timilehin  Kupolokun  [49]   88390  76001     timikupo11@outlook.com
9       Nnena    Dickson  [39]  122200  85900           nene33@gmail.com

In [113]:
df["Email_company"] = df["email"].str.partition("@")[2]

In [116]:
df["Email_company"]
df

,Firstname,Lastname,age,sales,cost,email,Email_company
0,Olanrewaju,Kazeem,[24],15000,11000,olankaz248@outlook.com,outlook.com
1,Chibuzo,Ekenne,[30],25800,15200,chiman_ekeneks@yahoo.com,yahoo.com
2,Onyinyechi,Amos,[22],45000,28000,onyiamos22@gmail.com,gmail.com
3,Orlando,Bloom,[25],28000,22000,earlyman01@ymail.com,ymail.com
4,Alex,Iwobi,[34],36500,18850,iwo.alex_007@gmail.com,gmail.com
5,Kachi,Felix,[50],44235,33218,felix_kach@protonmail.com,protonmail.com
6,Olujare,Dada,[28],27500,25800,olu59_dada@zohomail.com,zohomail.com
7,Tomiwa,Sogaolu,[42],50509,34850,tommySolu@icloudmail.com,icloudmail.com
8,Timilehin,Kupolokun,[49],88390,76001,timikupo11@outlook.com,outlook.com
9,Nnena,Dickson,[39],122200,85900,nene33@gmail.com,gmail.com

In [4]:
D = {2, 1, "two", 2, 3, 3, 0}

In [28]:
F = {"two", "game", "Paul", "Math"}

In [29]:
F.symmetric_difference(D)

{0, 1, 2, 3, 'Four', 'Math', 'Paul', 'fifteen', 'game', 'one', 'thirteen'}

In [30]:
F.difference(D)

{'Math', 'Paul', 'game'}

In [5]:
D.add("Four")

In [9]:
print(D)

{0, 1, 2, 3, 'Four', 'two'}

In [17]:
D.update(["zero", "one", "thirteen", "fifteen"])
D

{0, 1, 2, 3, 'Four', 'fifteen', 'one', 'thirteen', 'two', 'zero'}

In [18]:
D.discard("zero")

In [39]:
T = (11, 11, "twelve", 30, "six")

In [40]:
U = (30, 22, "six", "zero")

In [41]:
T.count(11)

2

In [51]:
U.index(22)

1

In [53]:
Dic = {"Game": "GOW", "Console": "PS5", "Season": "3"}

Dic["Game"]

'GOW'

In [57]:
G={}

In [71]:
Dic.copy()

{'Game': 'GOW', 'Console': 'PS5'}

In [72]:
Dic.fromkeys(Dic)

{'Game': None, 'Console': None}

In [73]:
Dic.get("Console")

'PS5'

In [74]:
Dic.pop("Season")

KeyError: 'Season'

In [75]:
Dic

{'Game': 'GOW', 'Console': 'PS5'}

In [77]:
Room = ["Alice", "ope", "fiyin", "emeka", "kenny", "timothy", "grace", "kunle"]
Room.append("emeka")

In [78]:
Room

['Alice',
 'ope',
 'fiyin',
 'emeka',
 'kenny',
 'timothy',
 'grace',
 'kunle',
 'emeka']

In [79]:
Group_A = {"ope", "fiyin", "timothy", "grace", "kunle"}
Group_B = {"Alice","timothy", "emeka", "kunle"}

print(Group_A.intersection(Group_B))

{'timothy', 'kunle'}

In [80]:
Votes_by_order = ["Alice", "emeka","ope", "fiyin", "timothy", "grace", "kunle", "kunle" ]

In [92]:
Votes_by_order.sort()

In [93]:
Votes_no_order = {"Alice", "emeka","ope", "fiyin", "timothy", "grace", "kunle", "kunle"}

In [95]:
import pandas as pd

In [97]:
Vote_summary= {
    
    "Sandra": ["Alice", "emeka","ope", "fiyin", "timothy"],
    "Michael": ["grace", "kunle", "kunle", "", ""] 
}
df = pd.DataFrame(Vote_summary)

In [98]:
df

    Sandra Michael
0    Alice   grace
1    emeka   kunle
2      ope   kunle
3    fiyin
4  timothy